body {
  text-align: center;
  display:flex;
  flex-direction: column;
  text-align: center;
  
}
button{
  border-radius: 5px;
  margin: 1%;
  cursor: pointer;
}
.main-page{
  margin: 0 auto;
  
}
.flex-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 950px;
  overflow: hidden;
}
header{
  text-align:center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* background-image: url(https://cdn.wallpapersafari.com/48/46/20Y7uf.jpg); */
  background: black;
  position: fixed;
  width: 100%;
  height: 70px;
}
h1{
  margin: auto auto;
  justify-self: center;
  text-shadow:
        -4px -4px 4px #E44C65,
        4px -4px 4px #E44C65,
        -4px 4px 4px #E44C65,
        4px 4px 4px #E44C65; 
}
header button{
  align-self: flex-end;
  margin-right: 3%;
}
header .button-container{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 10%;
  margin-top: 20px;
  right: 25px;
}
.accnt-link{
  margin: auto 5% auto auto;
}
.update-form{
  margin: 15% auto 0;
}
.tab-comp-container{
  border-radius: 5;
  border-top: none;
  border-radius: 8px;
  border: 4px solid #E44C65;
  margin: 3% 0;
}
.tabs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #E44C65; 
  /* border-radius: 5px 5px 0 0; */
  /* margin: 2% 3% 0 3%; */
}
.tab{
  border-radius: 8px 8px 0 0;
}
.active-tab{
  background: #111111;
  border: 4px solid #E44C65;
  border-bottom: none;
  color:#E44C65;
  padding: 0 65px;
}
.iframecontainer{
    border-radius: 8px;
    border: 4px solid #E44C65;
    margin:  0 0 3% 0 ;
}
