body {
  text-align: center;
  display:flex;
  flex-direction: column;
  text-align: center;
  
}
button{
  border-radius: 5px;
  margin: 1%;
  cursor: pointer;
}
.main-page{
  margin: 0 auto;
  
}
.flex-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}
iframe{
  margin: 3%;
}